/dhdc_database/
/frontend/web/assets/
/backend/web/assets/
/frontend/web/fortythree/
/frontend/web/fortythreebackup/
/vendor/
/nbproject/private/
/backend/config/
/vendor.zip
/frontend/web/txt/